body {
  padding: 0px !important;
}

#main {
  margin-left: 250px;
  padding: 32px;
  width: 50%;
  max-width: 500px;
}

#main h1 {
  margin-top: 0px;
}

.sidenav {
  border-right: solid;
  height: 100vh;
  position: absolute;
  text-align: center;
  user-select: none;
  width: 250px;
}

.sidenav h1 {
  display: block;
  margin-left: 32px;
  margin-top: 32px;
}

.sidenav a {
  color: black;
  display: block;
  font-size: 25px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  transition: 0.3s;
}

.sidenav a:hover {
  color: rgb(100, 100, 200);
  text-decoration: none;
}

.sidenav .active {
  color: dodgerblue;
}

.chirp-message-box {
  border-radius: 16px;
  border-style: solid;
  border-width: 2px;
  font-size: 24px;
  margin: 0 0 32px 0;
  padding: 16px;
}

.msg-chat-box {
  margin: 0px;
  padding: 0px;
}

.msg-chat-box textarea {
  padding: 8px;
  resize: none;
  width: calc(100% - 16px);
}

.msg-chat-box textarea:focus {
  outline: solid 2px darkgray;
}

.msg-footer-box {
  display: flex;
  justify-content: end;
}

.msg-footer-box button {
  background-color: dodgerblue;
  font-size: 12px;
  margin: 0px;
  padding: 8px;
}

.line-style {
  background-color: lightgrey;
  margin: 0 0 32px 0;
}

.frontnav {
  background-color: aliceblue;
  border-radius: 16px;
  font-size: 24px;
  margin: 0 0 32px 0;
  padding: 16px;
}

.frontnav-header {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 16px;
  user-select: none;
}

.frontnav-description {
  font-size: 12px;
  font-weight: normal;
  padding-top: 4px;
  user-select: none;
}

.frontnav-footer {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  padding-top: 16px;
  user-select: none;
}

.frontnav-footer .frontnav-action {
  cursor: pointer;
  margin-right: 10px;
}

.frontnav-footer .frontnav-chirp-data {
  color: dimgray;
  padding-right: 12px;
}

